body {
    background-color: #242325;
    background: repeating-linear-gradient( 45deg, #242325, #242325 10px, #665749 10px, #665749 20px );
}

.bgcolour {
    background-color: #F4E3D9;
}

.bgcolour2 {
    background-color: #DC965A;
}


header {
    display: block;
    overflow: hidden;
    float: right;
    box-sizing: border-box;
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    border-bottom: solid;
    border-top: solid;
}

#mobile_nav {
    display: none;
}

#mobile_menu_button {
    display:none;
}

#nav_menu {
    display: block;
    width: 100%;
    height: auto;
}

nav {
    display: block;
    overflow: hidden;
}

nav ul {
    float: right;
    list-style: none;
}

nav li {
    display: inline;
}

nav li a {
    display: inline;
    margin-right: 4rem;
    padding: 1rem 0.5rem;
    padding-top: 0px;
    padding-bottom: 0px;
    font: 1.2rem CubanoRegular, Arial, Helvetica, Sans-Serif;
    font-weight: bold;
    text-decoration: none;
    border-bottom: 4px solid;
    border-right: 4px solid;
    color: black;
}

#logo {
    display: block;
    float: left;
    top: 1%;
    height: 100%;
    width: auto;
}

#about_section {
    display: block;
    top: 30%;
    border-radius: 4px;
}

#listen_section {
    display: block;
    top: 60%;
}

.section {
    display: block;
    font: 1.5rem CubanoRegular, Arial, Helvetica, Sans-Serif;
    border-top: solid;
    width: 100%;
    height: auto;
    overflow: hidden;
}

#slideshow {
    display: block;
    margin: auto;
    width: 100%;
    height: auto;
    max-height: 442px;
}

#slideshow-background {
    max-height: 25%;
    padding: 10px;
}

.slideshow_picture {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.flexslider {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    width: 50%;
}

.flexslider .slides img {
    display: block;
    width: 100%;
    height: auto;
    max-height: 100%;
    max-width: 1440px;
}

.flex-control-nav {
    bottom: 20px;
}

#about_section {
    display: inline-block;
    width: 47.2vw;
    height: 48vh;
    border-bottom: solid;
    border-right: solid;
    float: left;
    padding: 0.5vw;
    padding-bottom: 30px;
    overflow: auto;
}

#listen_section {
    display: inline-block;
    width: 47.2vw;
    height: 48vh;
    vertical-align: top;
    float: right;
    border-left: solid;
    border-bottom: solid;
    padding: 0.5vw;
    padding-bottom: 30px;
    overflow: auto;
}

#listen_section img {
    float: left;
    display: inline-block;
    width: 17.5vw;
    height: 17.5vw;
    padding-left: 1vw;
}

#listen_section ul {
    float: left;
    display: inline-block;
    padding-left: 5vw;
    list-style: none;
    font-size: 1.25vw
}

#listen_section li {
    padding-bottom: 8px;
}

.pointer_cursor {
    cursor: pointer;
}

.music_section {
    margin-top: 1000px;
}

#musicTable {
    width: 100%;
    height: auto;
    height: auto;
    text-align: center;
}

#musicTable td {
    height: 42%;
}

#musicTable td img {
    width: 300px;
    height: 300px;
    border: groove;
    border-color: #242325
}

#music_heading_mobile {
    display:none;
}

#merchTable {
    width: 100%;
    height: auto;
    height: auto;
    text-align: center;
}

#merch_heading_mobile {
    display:none;
}

#merchTable td img {
    width: auto;
    height: 30vh;
    border: groove;
    border-color: #242325;
    padding: 10px;
}

#create_album_button_section h1 {
    text-align: center;
}

#create_album_button_section {
    border: solid 5px;
    border-top-color: #555555;
    border-left-color: #222222;
    width: 99.5%;
}

#customiser_button {
    text-decoration: none;
    color: black;
    margin: 10px;
}

.heading {
    background-color: #DC965A;
    border-top: solid;
    border-bottom: solid;
}

#concerts_section {
    overflow: hidden;
}

#concerts_section table {
    padding-left: 10vw;
}

.date_heading {
    font-weight: bold;
    font-size: 32px;
    border-bottom: solid;
}

.venue_heading {
    font-weight: bold;
    font-size: 32px;
    color: #CC864A;
    border-bottom: solid;
}

.buy_tickets_button_heading {
}

.date {
    padding-right: 5vw;
    border-bottom: solid;
}

.venue {
    padding-right: 40vw;
    color: #CC864A;
    border-bottom: solid;
}

.buy_tickets_button {
    border: solid 5px;
    border-top-color: #555555;
    border-left-color: #222222;
}

.buy_tickets_button a {
    text-decoration: none;
    color: black;
}

#contact_section {
    padding-bottom: 10vh;
}

#email_input {
    padding-left: 5vw
}

#email_input input {
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid;
    border-left: 2px solid;
    height: 4vh;
}

#email_content {
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid;
    border-left: 2px solid;
    height: 50vh;
    width: 80vw;
    resize: none;
    display: block;
}

#email_content {
    margin-left: 5vw;
}

#contact_section p {
    padding-left: 5vw;
    padding-top: 3vh;
}

#contact_section input[type=submit] {
    margin-left: 5vw;
}

#create_album_heading {
    width: 25vw;
    display: inline-block;
}

#create_album_section {
}

#custom_album_buy_button {
    float: right;
    margin: 0px;
    margin-right: 20vw;
    margin-top: 4vh;
    border: solid 5px;
    border-top-color: #555555;
    border-left-color: #222222;
    display: inline-block;
    text-decoration: none;
    color: black;
}

#front_preview {
    width: 30vw;
}

#front_image {
    padding-left: 10px;
    width: 23vw;
    height: 23vw;
}

#back_preview {
    width: 30vw;
}

#custom_track_list {
    width: 30vw;
}

.custom_section {
    border: solid;
    margin: 1vw;
    display: inline-block;
    float: left;
    margin-top: 5vh;
    height: 65vh;
}

#front_image_choice {
    margin-left: 10px;
}

#front_preview h2 {
    margin-bottom: 1vh;
}

#custom_track_list ul {
    list-style: none;
}

#custom_track_list li {
    padding-bottom: 2vh;
}

#back_image {
    float: left;
    padding-left: 10px;
    width: 23vw;
    height: 23vw;
}

#back_preview li {
    height: 2vw;
    font-size: 1.1vw;
    font-weight: bold;
    color: #DC965A;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

#back_preview ul {
    left: 9vw;
}

#back_preview_container {
    position: relative;
}

#track_list_preview {
    list-style: none;
    position: absolute;
}

select {
    font: 1.2rem CubanoRegular, Arial, Helvetica, Sans-Serif;
}

input[type=submit] {
    font: 1.2rem CubanoRegular, Arial, Helvetica, Sans-Serif;
}




@media screen and (max-width: 1441px) {

    body {
        font-size: 10px;
    }

    header {
        display: none;
        overflow: hidden;
        float: right;
        box-sizing: border-box;
        width: 100%;
        height: auto;
        margin-bottom: 10px;
        border-bottom: solid;
        border-top: solid;
    }

    #mobile_nav {
        font: 8vh CubanoRegular, Arial, Helvetica, Sans-Serif;
        position: absolute;
        display: none;
        z-index: 10;
        width: 100%;
        height: 100%;
        text-align: center;
    }

    #mobile_nav li {
        padding: 0.5vh;
        margin-bottom: 1.5vh;
        border: solid 10px;
        background-color: #DC965A;
        width: 90vw;
        text-align: center;
    }

    #mobile_nav a {
        text-decoration: none;
        color: black
    }

    #nav_menu {
        display: block;
        width: 100%;
        height: auto;
    }

    nav {
        display: block;
        overflow: hidden;
    }

    nav ul {
        float: right;
        list-style: none;
    }

    nav li {
        display: inline;
    }

    nav li a {
        display: inline;
        margin-right: 4rem;
        padding: 1rem 0.5rem;
        padding-top: 0px;
        padding-bottom: 0px;
        font: 1.2rem CubanoRegular, Arial, Helvetica, Sans-Serif;
        font-weight: bold;
        text-decoration: none;
        border-bottom: 4px solid;
        border-right: 4px solid;
        color: black;
        }

    #logo {
        display: none;
        float: left;
        top: 1%;
        height: 100%;
        width: auto;
    }

    #about_section {
        display: block;
    }

    #listen_section {
        display: block;
    }

    .section {
        display: block;
        font: 2vh CubanoRegular, Arial, Helvetica, Sans-Serif;
        border-top: solid;
        width: 100%;
        height: auto;
        overflow: hidden;
    }

    #slideshow {
        display: inline-block;
        margin: auto;
        width: 100%;
        height: auto;
        max-height: 442px;
    }

    #slideshow-background {
        max-height: 25%;
        padding: 10px;
    }

    .slideshow_picture {
        display: block;
        width: 50%;
    }

    .flexslider {
        display: block;
        margin-bottom: 0;
        width: 70%;
    }

        .flexslider .slides img {
            display: block;
            width: 100%;
            height: auto;
            max-width: 1440px;
        }

    .flex-control-nav {
        bottom: 20px;
    }

    #mobile_menu_button {
        display: block;
        width: 8vh;
        height: 8vh;
        position: absolute;
        left: 85vw;
        z-index: 2;
    }

    #about_section {
        display: block;
        width: 100%;
        height: auto;
        border: none;
        border-bottom: solid;
        overflow: auto;
        margin-top: 10px;
        float:none;
        padding: 0px;
    }

    #about_section h1 {
        font-size: 3vh;
    }

    #about_section p {
        font-size: 2.3vh;
    }

    #listen_section {
        display: block;
        width: 100%;
        height: auto;
        border: none;
        border-bottom: solid;
        overflow: auto;
        margin-top: 10px;
        padding: 0px;
    }

    #listen_section h1 {
        font-size: 3vh;
    }

    #listen_section img {
        float: left;
        display: inline-block;
        width: 17.5vh;
        height: 17.5vh;
        padding-left: 1vw;
    }

    #listen_section ul {
        float: left;
        display: inline-block;
        padding-left: 5vw;
        list-style: none;
        font-size: 2vh
    }

    #listen_section li {
        padding-bottom: 8px;
    }

    .pointer_cursor {
        cursor: pointer;
    }

    #music_section {
        margin-top: 0px;;
        padding:0px;
    }

    #musicTable {
        width: 100%;
        height: auto;
        height: auto;
        table-layout: fixed;
        width: 100%;
    }

    #musicTable td {
        height: 42%;
    }
    #music_heading {
        display: none;
    }

    #music_heading_mobile {
        display: block;
        font: 10vh CubanoRegular, Arial, Helvetica, Sans-Serif;
        padding:0px;
        margin-top:0px;
        margin-bottom: 10vh;

    }

    #musicTable td img {
        width: 30vh;
        height: 30vh;
        border: 10px groove;
        border-color: #141315;
    }

    #merchTable {
        display: none;
    }

    #merch_heading {
        display: none;
    }

    #merch_heading_mobile {
        display: block;
        font: 10vh CubanoRegular, Arial, Helvetica, Sans-Serif;
        padding: 0px;
        margin-top: 0px;
        margin-bottom: 1vh;
    }

    #merchTable td img {
        display:none;
        border: none;
    }

    #mobile_pictures {
        display: block;
        width: 100%;
    }

    #mobile_pictures img {
        width: 80vw;
        margin-left: 10vw;
        border: 5px solid;
    }

    #create_album_button_section h1 {
        text-align: center;
    }

    #create_album_button_section {
        border: solid 5px;
        border-top-color: #555555;
        border-left-color: #222222;
        width: 99.5%;
    }

    #customiser_button {
        text-decoration: none;
        color: black;
        margin: 10px;
    }

    .heading {
        background-color: #DC965A;
        border-top: solid;
        border-bottom: solid;
    }

    #concerts_section {
        overflow: hidden;
        height: 99vh;
    }

        #concerts_section table {
            padding-left: 10vw;
        }

    .date_heading {
        font-weight: bold;
        font-size: 32px;
        border-bottom: solid;
    }

    .venue_heading {
        font-weight: bold;
        font-size: 32px;
        color: #CC864A;
        border-bottom: solid;
    }

    .buy_tickets_button_heading {
    }

    .date {
        padding-right: 5vw;
        border-bottom: solid;
    }

    .venue {
        padding-right: 8vw;
        color: #CC864A;
        border-bottom: solid;
    }

    .buy_tickets_button {
        border: solid 5px;
        border-top-color: #555555;
        border-left-color: #222222;
    }

        .buy_tickets_button a {
            text-decoration: none;
            color: black;
        }

    #contact_section {
        padding-bottom: 10vh;
    }

    #email_input {
        padding-left: 5vw
    }

        #email_input input {
            box-sizing: border-box;
            border: none;
            border-bottom: 2px solid;
            border-left: 2px solid;
            height: 4vh;
        }

    #email_content {
        box-sizing: border-box;
        border: none;
        border-bottom: 2px solid;
        border-left: 2px solid;
        height: 50vh;
        width: 80vw;
        resize: none;
        display: block;
    }

    #email_content {
        margin-left: 5vw;
    }

    #contact_section p {
        padding-left: 5vw;
        padding-top: 3vh;
    }

    #contact_section input[type=submit] {
        margin-left: 5vw;
    }

    #create_album_heading {
        width: 25vw;
        display: inline-block;
    }

    #create_album_section {
    }

    #custom_album_buy_button {
        float: right;
        margin: 0px;
        margin-right: 20vw;
        margin-top: 4vh;
        border: solid 5px;
        border-top-color: #555555;
        border-left-color: #222222;
        display: inline-block;
        text-decoration: none;
        color: black;
    }

    #front_preview {
        width: 30vw;
    }

    #front_image {
        padding-left: 10px;
        width: 23vw;
        height: 23vw;
    }

    #back_preview {
        width: 30vw;
    }

    #custom_track_list {
        width: 30vw;
    }

    .custom_section {
        border: solid;
        margin: 1vw;
        display: inline-block;
        float: left;
        margin-top: 5vh;
        height: 65vh;
    }

    #front_image_choice {
        margin-left: 10px;
    }

    #front_preview h2 {
        margin-bottom: 1vh;
    }

    #custom_track_list ul {
        list-style: none;
    }

    #custom_track_list li {
        padding-bottom: 2vh;
    }

    #back_image {
        float: left;
        padding-left: 10px;
        width: 23vw;
        height: 23vw;
    }

    #back_preview li {
        height: 2vw;
        font-size: 1.1vw;
        font-weight: bold;
        color: #DC965A;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: black;
    }

    #back_preview ul {
        left: 9vw;
    }

    #back_preview_container {
        position: relative;
    }

    #track_list_preview {
        list-style: none;
        position: absolute;
    }

    select {
        font: 1.2rem CubanoRegular, Arial, Helvetica, Sans-Serif;
    }

    input[type=submit] {
        font: 1.2rem CubanoRegular, Arial, Helvetica, Sans-Serif;
    }
}




