body {
    background-color: #242325;
    background: repeating-linear-gradient( 45deg, #242325, #242325 10px, #665749 10px, #665749 20px );
}

.bgcolour {
    background-color: #F4E3D9;
}

.bgcolour2 {
    background-color: #DC965A;
}

header {
    display:block;
    overflow:hidden;
    float: right;
    box-sizing:border-box;
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    border-bottom: solid;
    border-top:solid;
}

#nav_menu {
    display: block;
    width:100%;
    height:auto;
}

nav {
    display: block;
    overflow: hidden;
}

nav ul {
    float: right;
    list-style: none;

}

nav li {
    display:inline;
}

nav li a {
    display: inline;
    margin-right: 4rem;
    padding: 1rem 0.5rem;
    font: 1.2rem CubanoRegular, Arial, Helvetica, Sans-Serif;
    font-weight:bold;
    text-decoration:none;
    color:black;
}

#logo {
    display: block;
    float: left;
    top: 1%;
    height: 100%;
    width:auto;
}

#about_section {
    display:block;
    top: 30%;
    border-radius: 4px;
}

#listen_section {
    display:block;
    top: 60%;
}

.section {
    display: block;
    font: 1.5rem CubanoRegular, Arial, Helvetica, Sans-Serif;
    border-top: solid;
    width: 100%;
    height: auto;
    overflow:hidden;
}

#slideshow {
    display:block;
    margin: auto;
    width:100%;
    height: auto;
    max-height: 442px;
}

#slideshow-background {
    max-height: 25%;
    padding: 10px;
}

.slideshow_picture {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.flexslider {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    width: 50%;
}

.flexslider .slides img {
    display: block;
    width: 100%;
    height: auto;
    max-height: 100%;
    max-width:1440px;
}

.flex-control-nav {
    bottom: 20px;
}

#about_section {
    display: inline-block;
    width: 47vw;
    height: 50vh;
    border-bottom: solid;
    border-right:solid;
    float: left;
    padding:0.5vw;
    padding-bottom: 30px;
    overflow:auto;
}

#listen_section {
    display: inline-block;
    width: 47vw;
    height: 50vh;
    vertical-align: top;
    float: right;
    border-left: solid;
    border-bottom: solid;
    padding: 0.5vw;
    padding-bottom: 30px;
    overflow: auto;
}

#listen_section img {
    float:left;
    display:inline-block;
    width:17.5vw;
    height:17.5vw;
    padding-left: 1vw;
}

#listen_section ul {
    float:left;
    display:inline-block;
    padding-left: 5vw;
    list-style:none;
    font-size:1.25vw
}
#listen_section li {
    padding-bottom: 8px;
}

.pointer_cursor {
    cursor: pointer;
}

.music_section {
    margin-top: 1000px;
}

#musicTable {
    width:100%;
    height:auto;
    height: auto;
    text-align: center;
}

#musicTable td {
    height: 42%;
}

td img {
    width: 300px;
    height: 300px;
}

#create_album_button_section h1 {
    text-align: center;
    
}

#create_album_button_section {
    border: solid 5px;
    border-top-color: #555555;
    border-left-color: #222222;
    width: 99.5%;
}

#customiser_button {
    text-decoration: none;
    color: black;
    margin: 10px;
}

.heading {
    background-color: #DC965A;
    border-top: solid;
    border-bottom: solid;
}